{{ define "base/errors.html" }}
  {{ if .errors }}
    <div class="error-messages">
    {{ range .errors }}
      <div class="error-message">
        {{ . }}
      </div>
    {{  end  }}
    </div>
  {{ end }}
{{ end }}
